[mariadb]
server_id=3002                  # used to uniquely identify the server
log-basename=my-mariadb         # used to be independent of hostname changes 
                                # (otherwise name is <datadir>/mysql-bin)
replicate_do_db=nation      # replicate only this DB
#binlog-format=MIXED            #default 
port=3308

[mysqld]
ssl-ca=/certs/ca-cert.pem
ssl-cert=/certs/server-cert.pem
ssl-key=/certs/server-key.pem